__pycache__/
.vscode/
kernel_meta/
test/
wandb/
outputs/
.hypothesis/
project-manager-multi-gpus/
raw_data/echr/
raw_data/enron/
legacy/
generated_candidates/
selected_candidates/
processed_inter_datasets/
refer_inter_datasets/
Test/

.DS_Store
cache-*.arrow
*.out
*.log
core.*
*.jsonl
